.header {
  background: #ccc;
  padding: 50px;
  margin-bottom: 70px;
  text-align: center;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
}

.header ul li a {
  display: inline-block;
  background: gray;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}

.header ul li a:hover {
  background: darkblue;
}

.header h1 {
  margin: 0;
}

.footer {
  text-align: center;
  margin-top: 50px;
}
